// Variables
$main-color-ct: #76c5f0;
$border-radius-ct: .2rem;

// Mixins
@mixin flex-center-ct {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive-font-size-ct($size) {
    font-size: $size;
}

// Reset & General Styles
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

// Button styles
.wrap-cta-ct {
    padding: 1.5rem 0;
}

.cta-a-ct {
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: $main-color-ct;
    padding: .5rem 1rem;
    border-radius: $border-radius-ct;
}

// Hero Section
.hero-section-ct {
    flex: 1;
    height: fit-content;
    background: url(/public/Imagenes/IMG-20220824-WA0016.jpg) center no-repeat;
    background-size: cover;
    background-color: rgba(106, 141, 163, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.contact-container-ct {
    @include flex-center-ct;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.contact-left-ct {
    background-color: rgba(53, 53, 53, 0.5);
    padding: 3%;
    border-radius: 40px;
    backdrop-filter: blur(4px);
    border: 5px solid rgba(53, 53, 53, 0.5);
    display: flex;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 600px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1;
    justify-content: space-evenly;
}

.contact-left-form-ct {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-right-ct {
    width: 50%;
    min-width: 400px;
    height: auto;
    display: flex;
    flex: 1;
}

.serigrafia-map-ct {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 40px;
    min-height: 600px;
}

// Contact title
.contact-left-title-ct h2 {
    font-weight: bolder;
    color: #fff;
    font-size: 40px;
    margin: 0;
}

.contact-left-title-ct hr {
    border: none;
    width: 100%;
    height: 5px;
    background-color: $main-color-ct;
    border-radius: 10px;
}

// Input styles
.contact-inputs-ct {
    width: 95%;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 5%;
    font-weight: 500;
    color: #000;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-inputs-textarea-ct {
    width: 90%;
    height: 170px;
    border: none;
    outline: none;
    padding: 10px 5%;
    font-weight: 500;
    color: #000;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-inputs-ct:focus,
.contact-inputs-textarea-ct:focus {
    box-shadow: inset 0 0 0 5px $main-color-ct;
}

.contact-inputs-ct::placeholder,
.contact-inputs-textarea-ct::placeholder {
    color: #313638;
}

// Button styles
.contact-left-ct button {
    @include flex-center-ct;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(270deg, $main-color-ct, #adadad);
    cursor: pointer;
    font-weight: bolder;
}

.contact-left-ct button img {
    height: 20px;
}

@media (max-width: 480px) {
    html, body {
        overflow-x: hidden;
    }
    .cta-a-ct {
        @include responsive-font-size-ct(0.6rem);
        padding: 5px;
    }    
    .contact-container-ct {
        @include flex-center-ct;
        padding: 5%;
        width: 90%;
        gap: 20px;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }
    
    .contact-left-ct {
        background-color: rgba(53, 53, 53, 0.5);
        padding: 5%;
        border-radius: 40px;
        backdrop-filter: blur(4px);
        border: 5px solid rgba(53, 53, 53, 0.5);
        display: flex;
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 600px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .contact-left-form-ct {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
        
    .contact-right-ct {
        width: auto;
        min-width: 200px;
        height: auto;
        display: flex;
    }
    
    .serigrafia-map-ct {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 40px;
    }
    
    // Contact title
    .contact-left-title-ct h2 {
        font-weight: bolder;
        color: #fff;
        font-size: 25px;
        margin: 0;
    }
    
    .contact-left-title-ct hr {
        border: none;
        width: 100%;
        height: 5px;
        background-color: $main-color-ct;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    // Input styles
    .contact-inputs-ct {
        width: 90%;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: 500;
        color: #000;
        border-radius: 10px;
        @include responsive-font-size-ct(0.8rem);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .contact-inputs-textarea-ct {
        width: 90%;
        height: 140px;
        border: none;
        outline: none;
        padding: 10px 5%;
        font-weight: 500;
        color: #000;
        border-radius: 10px;
        @include responsive-font-size-ct(0.8rem);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .contact-inputs-ct:focus,
    .contact-inputs-textarea-ct:focus {
        box-shadow: inset 0 0 0 5px $main-color-ct;
    }
    
    .contact-inputs-ct::placeholder,
    .contact-inputs-textarea-ct::placeholder {
        color: #313638;
    }
    
    // Button styles
    .contact-left-ct button {
        @include flex-center-ct;
        padding: 15px 30px;
        @include responsive-font-size-ct(0.8rem);
        color: #fff;
        gap: 10px;
        border: none;
        border-radius: 10px;
        background: linear-gradient(270deg, $main-color-ct, #adadad);
        cursor: pointer;
        font-weight: bolder;
    }
    
    .contact-left-ct button img {
        height: 15px;
    }
}
